@import "../../../styles/index.scss";

.sidebar-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 3fr 1.5fr;
  font-size: 12px;
  align-items: center;
  height: 40px;
  border-top: 1px solid $col-bg;

  .avatar {
    width: 60%;
    border-radius: 50%;
  }

  .btn-status {
    padding: 5px 15px;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid $col-bg;
    font-weight: 500;

    .label-asd {
      color: $col-yellow;
    }

    .label-com {
      color: $col-green;
    }

    .label-una {
      color: $col-dark-grey;
    }
  }
}
